*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

.html{
    scroll-behavior: smooth;
}
/*Navbar*/
.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position:sticky;
    top: 0;
}
.navbar ul{
    display:flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 20px 8px;
    transition: all;

}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}


/*Home Section*/
#home{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 600px;
    justify-content: center;
    align-items: center;
    color: white;

}


.main{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
    background-color: white;
    color: black;
}

/*About Section*/

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background-color: black ;
}

#pic{
    display: flex;
}

#pic img{
    width: 270px;
    height: 400px;
}


#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    color:white;
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 2px;

}

.table{
    font-size: 1.4rem;
}

li {
    font-size: 1.8rem;
    text-decoration: none;
    list-style-type: none;
}

.btn{
    height: 60px;
    width: 125px;
    border-radius: 10px;
    font-size: 15px;
    color: #000000;
    background-color: #04AA6D;
    cursor: pointer;
}

/*Education section*/

#education{
    display: flex;
    flex-direction: column;
    background-color:black;
    align-items: center;
}

#education h1{
    margin: 60px;
}

.columns{
    display: grid;
    grid-template-columns: auto;
    padding-left: 50px;
}

.b{
    height: 200px;
    width: 600px;
    background-color: #8AF190;
    border-radius: 20px;
    margin: 10px;
    padding: 40px;
    padding-top: 20px;
}

.b h2{
    color: goldenrod;
    font-size: 1.8rem;
}

.b p{
    color:black;
    padding-top: 15px;
}

/*Hobbies section*/

#hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color:white;
    padding: 20px;
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img{
    width: 215px;
    height: 220px;
    margin: 20px;
}

/*Experience Section*/

#experience{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
}

.row{
    display: flex;
    justify-content: space-around;
    padding: 20px; 
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255, 45, 45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);
}

/*Skills Section*/


#skills{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color:white;
    padding: 20px;    
}

#grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.grid p{
    padding-left: 10px;
    font-size: 1.2rem;
    color: #ffffff;
}

.container {
    width: 100%;
    display: flex;
}
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }

.html {
    width: 90%;
    background-color: #04AA6D;
}
.css {
    width: 60%; 
    background-color: #04AA6D;
}
.js {
    width: 40%; 
    background-color: #04AA6D;
}
.c {
    width: 80%; 
    background-color: #04AA6D;
}

.cpp {
    width: 80%; 
    background-color: #04AA6D;
}

.java {
    width: 60%; 
    background-color: #04AA6D;
}

.sql {
    width: 70%; 
    background-color: #04AA6D;
}


/*Contact me*/
.contact-alignment{
    justify-content: center;
    display: flex;
}
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-decoration: none;
        border-radius: 50%;
        padding-bottom: 20px;
      }
      
      /* Add a hover effect if you want */
      .fa:hover {
        opacity: 0.7;
      }
      
      /* Set a specific color for each brand */
      
      /* Facebook */
      .fa-linkedin {
        margin: 40px 10px;
        background: #007bb5;
        color: white;
      }
      
      /* Twitter */
      .fa-github {
        margin: 40px 10px;
        background: #383838;
        color: white;
      }


